header {
  background-color: #202123;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  margin-bottom: 298px;  
}

.navHeader {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-right:40px;
}

.ulHeader {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.liHeader {
  margin: 0 10px;
  padding: 10px 20px;
}

.aHeader {
  color: white;
  text-decoration: none;
  display: block;
  position: relative;
  transition: transform 0.2s ease;
}
.aHeader::before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 100%;
  height: 3px;
  background-color: white;
  transform: scaleX(0);
  transform-origin: bottom left;
  transition: transform 0.2s ease;
}

.aHeader:hover {
  color: #3ca9f2;
  transform: translateY(-3px);
}

.aHeader:hover::before {
  transform: scaleX(1);
}


nav ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
}

nav li {
  margin: 0 10px;
}

nav a {
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
}

nav a:hover {
  color: white;
}


body {
  background-image: url("../images/background.gif");  
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #080828;
  font-family: 'Lato', sans-serif;
}

ul {
  list-style: none;
}

ul li {
  margin-bottom: 10px;
}
li{
  list-style: none;
}

.agradecimento {
  max-width: 500px;
  margin: 0 auto;
  background-color: #ffffff;
  padding: 30px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 300px;
}

.link {
  text-decoration: none;
  color: black;
}
.link:hover {
  text-decoration: underline;  
}


/* Estilo do footer */

footer {
  background-color: #202123;
  padding: 20px;
  text-align: center;
  bottom: 2px;
  width: 97%;
  
}

footer p {
  color: #fff;
}

.rodape{
    background-color: #202123;
    padding: 20px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

/* Barra de rolagem personalizada */

* {
  scrollbar-width: thin;
  scrollbar-color: white;
}

*::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}

*::-webkit-scrollbar-track {
  background: #f6f8fa00;
  height: 3px;
}


